// ================================
// Variables
// ================================

$viewport-inc: 1px;

$desktop: 1024px; // change, as you like
$tablet: 960px;
$phablet: 768px;
$phone: 480px;
// Tablet - 960
$tablet-maxwidth: $tablet - $viewport-inc;
$tablet-minwidth: $phablet;
// Phablet - 768
$phablet-maxwidth: $phablet - $viewport-inc;
$phablet-minwidth: $phone;
// Phone - 480
$phone-maxwidth: $phone - $viewport-inc;
// better: https://github.com/taupecat/sass-responsive/blob/master/_responsive.scss

// Constraints
$min: min-width;
$max: max-width;

// Media Queries
// Desktop down...
@mixin media-queries($device){
	/* Smaller than standard 960 (devices and browsers) */
	@if $device == tablet {
		@media only screen and ($max: $tablet-maxwidth) {
			@content;
		}		
	}
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@else if $device == tablet-downlimit {
		@media only screen and ($min: $tablet-minwidth) and ($max: $tablet-maxwidth) {
			@content;
		}
	}
	/* All Mobile Sizes (devices and browser) */
	@else if $device == phablet {
		@media only screen and ($max: $phablet-maxwidth) {
			@content;
		}
	}
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@else if $device == phablet-downlimit {
		@media only screen and ($min: $phablet-minwidth) and ($max: $phablet-maxwidth) {
			@content;
		}
	}
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@else if $device == mobile {
		@media only screen and ($max: $phone-maxwidth) {
			@content;
		}
	}
}

// Alias
@mixin m-q($args...){
	@include media-queries($args...)
}